<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>

<main>

    <!--Content assumes user is NOT logged in-->

    <section class="hero">
            <h1>Get Started</h1>
            <p>Movie Matchmaker is a fun and personalized way to discover films based on your mood.</p>
            <p>Whether you're feeling emotional, adventurous, or want something feel-good, our app helps you find the perfect movie.</p>
            <p>Explore genres, save your favorites, and get inspired by a daily motivational quote.</p>
            <a class="btn" href="/signUp">Start Matching</a>
    </section>

    <section>
        <h2>Random Picks</h2>
        <div class="gallery">
        <% randomIndices.forEach(index => { %>
            <% if (popularMovies.results[index] && popularMovies.results[index].poster_path) { %>
                <div class="gallery-item">
                    <a href="/movie/<%= popularMovies.results[index].id %>">
                        <img src="http://image.tmdb.org/t/p/w154<%= popularMovies.results[index].poster_path %>">
                    </a>
                </div>
            <% } %>
        <% }) %>
        </div>
    </section>
    <section>
        <h1>Explore Moods</h1>
        <div class="mood-container">
            <% moods.forEach(mood => { %>
                <a href="/mood/<%= mood.id %>"><%= mood.name %></a>
            <% }) %>
        </div>
    </section>

    <section>
        <h2>Trending Movies</h2>
        <div class="gallery">
            <% for (let i = 0; i < 7; i++) { %>
                <div class="gallery-item">
                    <a href="/movie/<%= trendingMovies.results[i].id %>">
                        <img src="http://image.tmdb.org/t/p/w154<%= trendingMovies.results[i].poster_path %>">
                    </a>
                </div>
            <% } %>
        </div>
    </section>

</main>

<%- include('partials/footer.ejs') %>
</body>
</html>