<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>

<main>

    <!--Content assumes user is NOT logged in-->

    <section>
        <h1>Get Started</h1>
        <div class="hero-text">
            <p>Movie Matchmaker is a fun and personalized way to discover films based on your mood.</p>
            <p>Whether you're feeling emotional, adventurous, or want something feel-good, our app helps you find the perfect movie.</p>
            <p>Explore genres, save your favorites, and get inspired by a daily motivational quote.</p>
        </div>
        <a class="button-anchor" href="/signUp">Start Matching</a>
    </section>

    <section>
        <h2>Random Picks</h2>
        <%
            const max = 20;
            const count = 6;
            const usedIndices = new Set();
            while (usedIndices.size < count) {
                const randIndex = Math.floor(Math.random() * max);
                usedIndices.add(randIndex);
            }
            const randomIndices = Array.from(usedIndices);
        %>
        <div class="gallery">
        <% randomIndices.forEach(index => { %>
            <% if (popularMovies.results[index] && popularMovies.results[index].poster_path) { %>
                <div class="gallery-item"><a href="/movie"><img src="http://image.tmdb.org/t/p/w154<%= popularMovies.results[index].poster_path %>"></a></div>
            <% } %>
        <% }) %>
        </div>
    </section>

    <% 
    const shuffled = allMoods.sort(() => 0.5 - Math.random());
    const moods = shuffled.slice(0, 4);
    %>
    <section>
        <h1>Explore Moods</h1>
        <div class="mood-container">
        <% moods.forEach(mood => { %>
            <a href="<%= mood.id %>"><%= mood.name %></a>
        <% }) %>
        </div>
    </section>

    <section>
        <h2>Trending Movies</h2>
        <div class="gallery">
            <% for (let i = 0; i < 6; i++) { %>
                <div class="gallery-item"><a href="/movie"><img src="http://image.tmdb.org/t/p/w154<%= popularMovies.results[i].poster_path %>"></a></div>
            <% } %>
        </div>
    </section>

</main>

<%- include('partials/footer.ejs') %>
</body>
</html>