<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>

<main>
  <section>
    <h1><%= movieTitle %></h1>
    <img src="<%= posterUrl %>" alt="<%= movieTitle %>">
    <p><%= description %></p>
  </section>
  
  <section class="review-input-container">
    <h2>Add a Review</h2>
    <form action="/api/movie/reviews/<%= movieTitle %>" method="POST">
      <textarea rows="5" cols="1" name="comment" placeholder="Write your review here..." required></textarea>
      <input type="number" name="rating" min="1" max="5" required>
      <button class="btn" type="submit">Post review</button>
    </form>
  </section>

  <section class="review-list-container">
    <span class="review-list-header"><h2>Reviews</h2><span><%= "* * * * *" %> <%= "4.9" %></span></span>
    <% // for (review of reviews) { %>
      <div class="review-item">
        <p>5 Stars</p>
        <p>This is a review... blah blah blah blah blah blah blah</p>
        <p>- Username</p>
      </div>
    <% // } %>
  </section>
</main>

<%- include('partials/footer.ejs') %>
</body>
</html>
