<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
<%- include("partials/header.ejs") %>

<main>
	<% if (typeof flash !== 'undefined') { %>
		<div><%= flash %></div>
	<% } %>

	<section>
		<h1>Hi <%= username %>!</h1>
	</section>

	<section class="lists-container">

		<h2>My Lists</h2>

		<form action="/api/lists/create" method="POST">
			<input type="text" name="name" placeholder="List Name" required>
			<textarea rows="5" cols="1" name="description" placeholder="Description (optional)"></textarea>
			<button class="btn" type="submit">Create List</button>
		</form>

		<% if (!userLists || userLists.length === 0) { %>

			<p>No lists yet.</p>

		<% } else { %>

			<% userLists.forEach(list => { %>

				<div class="list" id="list-<%= list.id %>">

					<div class="list-header">

					<a href="/list/<%= list.id %>">
						<h3><%= list.name %></h3>
						<p><%= list.description %></p>
					</a>

					<button class="btn" onclick="toggleEditForm(<%= list.id %>)">Edit</button>

					<form action="/api/lists/delete/<%= list.id %>" method="POST" style="display:inline;">
						<button class="btn" type="submit" onclick="return confirm('Delete this list?')">Delete</button>
					</form>

					</div>

					<form class="edit-form" id="edit-form-<%= list.id %>" action="/api/lists/update/<%= list.id %>" method="POST" style="display: none;">
						<input type="text" name="name" value="<%= list.name %>" required />
						<textarea rows="5" cols="1" name="description"><%= list.description %></textarea>
						<div>
							<button class="btn" type="submit">Save</button>
							<button class="btn" type="button" onclick="toggleEditForm(<%= list.id %>)">Cancel</button>
						</div>
					</form>
				</div>

			<% }) %>
		<% } %>
	</section>
</main>

<%- include("partials/footer.ejs") %>

<script src="/js/profile.js"></script>

</body>
</html>