<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>

<main>

	<section>
		<h1>Find your next match!</h1>
		<div class="search-input-container">
			<input type="text" id="searchInput" placeholder="Search movies...">
			<button class="btn" id="searchButton">Search</button>
		</div>
	</section>

	<section>
		<div class="search-result-list" id="resultsList"></div>
	</section>

</main>

<%- include('partials/footer.ejs') %>
<script> 
	const userLists = <%- JSON.stringify(userLists) %>;
	const loggedIn = <%- loggedIn %>;
</script>
<script src="/js/search.js"></script>
</body>
</html>